body {
    margin: "auto";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/nebb.png") no-repeat center center fixed; /* Add your background image */
    background-size: cover; /* Cover the entire viewport */

    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;

    justify-content: center;

    align-items: center;

    width: 100%;

    height: 100%;
}

#login-card {
    width: auto;

    height: auto;

    min-width: 30vh;

    background-color: rgba(
        194,
        207,
        218,
        0.9
    ); /* Slightly transparent background */

    margin: auto;

    padding: 20px; /* Add padding for better spacing */

    border-radius: 8px; /* Optional: Add rounded corners */

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

#login-text {
    padding-top: 10%;
}

.error {
    color: red; /* Customize the error message color */
}

.submit-btn {
    margin-top: 1rem; /* Adjust margin as needed */
}

.register-link {
    padding: 5%;
}
